// Estilos más básicos
%heading {
    padding: $padGral;
}

body {
    background-color: $c-fondo;
    color: $c-textoPpal;
    font-family: $fuente-ppal;
    text-align: center;
}

#principal {
    grid-area: principal;
    border-right: 1px solid $c-fondoSecund;
}

a {
    text-decoration: none;
    color: $c-textoPpal;
}

hr {
    margin: 3 * $t-textoNormal;
    border: 1px solid $c-textoResaltado;
}

h1{
    @extend %heading;
    font-size: 1.7em;
}
h2{
    @extend %heading;
    font-style: italic;
    color: $c-textoResaltado;
}

.titulo_info {
    font-style: italic;
    color: $c-textoResaltado;
    @extend %heading;

}

.p__info {
    margin: auto;
    padding: calc($padGral/2);
    line-height: $alturaDeLinea;
    width: $anchoMax;
}