* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #252525;
    color: #fff;
    font-family: 'Inter', sans-serif;
}

header {
    background-color: #000;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

main {
    margin-bottom: 100px;
}

footer {
    background-color: #000;
    height: 140px;
}

hr {
    margin: 50px;
    border: 1px solid #f99500;
}

#main_icon {
    padding-top: 13px;
    height: 82%;
    position: absolute;
    left: 0px;
    margin-left: 5px;
}

.menu {

    display: inline;
    padding: 20px 20px 20px 20px;
}

.menu__lista li {
    display: inline;
    float: left;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

.menu__lista ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.menu__lista li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.menu__lista li a:hover {
    background-color: #111;
}

#contacto {
    float: right;
    right: 0px;
    width: 170px;
    background-color: #f99500;
    border-radius: 30px;
    color: #000;
    font-weight: 600;
    margin-right: 20px;
    position: absolute;
    right: 0px;
}

.titulo_info {
    font-style: italic;
    color: #f99500;
    height: 50px;
    text-align: center;
    padding: 10px;
    /* border: #f99500 solid; */

}

.p__info {
    /* border: #f99500 solid; */
    text-align: center;
    margin: auto;
    padding: 5px;
    font-weight: 300;
    line-height: 1.5;
    width: 90%;
}


#tabla_contenido {
    width: 90%;
    margin: auto;
    font-size: x-large;
}

#tabla_contenido th,
td {

    /* border: 2px #f99500 solid; */
    text-align: center;
    padding: 10px 15px 10px 15px;

}

#tabla_contenido img {
    width: 330px;
    height: 215px;
    object-fit: cover;
    border-radius: 15px;
    /* overflow: hidden; */

}

#mi_foto {
    height: 150px;
    width: 150px;
    float: right;
    margin: 0 20px 0 20px;
    border-radius: 50%;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.footer__div {
    padding: 10px 10px 10px 10px;
    float: left;
    width: 85%;
    height: 100%;
    text-align: center;
}

.footer__div p {
    padding: 35px;
}

footer h4 {
    padding: 10px;
    text-align: center;
}

footer li {
    list-style-type: none;
    text-align: center;
    padding: 3px;

}

footer li a {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    color: gray;
}
