.tabla_contenido {
    width: $anchoMax;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    font-size: $t-textoTitulo;

    .contenido {
        width: 33.33%;
        padding: 1.2vw;
        min-width: 230px;

        & h3 {
            padding: 1.5vw;
        }

        & img {
            object-fit: cover;
            border-radius: 0.4em;
            width: 100%;
            aspect-ratio: 1.5;

            &:hover {
                @include hoverArticulos;
            }
        }
    }

}

// POR AQUI VOY 

#sobre-mi {
    padding-bottom: 50px;
}

/* Para que la foto aparezca a la derecha del texto, lo puse dentro del p y le añadí el float */
#mi_foto {
    height: 9.375em;
    width: 9.375em;
    float: right;
    margin: 0 2vw;
    border-radius: 50%;
}

// .tabla_contenido {


//     
//     }

//     


// }

// #sobre-mi {
//     padding-bottom: 50px;

//     & #mi_foto {
//         height: 9.375em;
//         width: 9.375em;
//         float: right;
//         margin: 0 2vw;
//         border-radius: 50%;
//     }
// }