//COLORES
$c-fondo: #252525;
$c-fondoSecund: #000;
$c-textoPpal: #fff;
$c-textoResaltado: #f99500;
$c-hovers:#111;

//FUENTES
$fuente-ppal: 'Inter', sans-serif;
$fuente-secundaria: 'Poppins', sans-serif;

//TAMAÑOS DE TEXTO

// ESPACIADOS

//MARGENES

