//COLORES
$c-fondo: #252525;
$c-fondoSecund: #000;
$c-hovers:#111;
$c-resaltado: #f99500;

$c-textoPpal: #fff;
$c-textoResaltado: $c-resaltado;
$c-textoAlternativo:$c-fondoSecund;
$c-textoMuerto: $c-hovers;

//FUENTES
$fuente-ppal: 'Inter', sans-serif;
$fuente-secundaria: 'Poppins', sans-serif;

//TAMAÑOS DE TEXTO
$t-textoNormal: 1em;
$t-textoTitulo: $t-textoNormal*1.2;


// ESPACIADOS

//MARGENES

//TAMAÑOS DE ELEMENTOS
$anchoMax: 95%;

